In [79]:
#Comparing number of flights between different time of searches

import pandas as pd
import datetime

## 0. Set Up Stage (Data Transformation Function)

In [80]:
def dataset_transform(df, number):
    # Transforming the dataset to get the number of flights per month
    df_new = df.groupby(pd.to_datetime(df['depFlight_departure']).dt.month)['id'].nunique().reset_index(name='count')
    
    # Adding a new column indicating the week of the search
    new_column_name = 'week_of_search'
    new_column_values = [number] * len(df_new)
    df_final = df_new.assign(**{new_column_name: new_column_values})
    
    return df_final

## 1. Athens

In [81]:
athens_01 = pd.read_csv('../dep_flights/depFlights_0320/athens_0320.csv')
athens_02 = pd.read_csv('../dep_flights/depFlights_0327/athens_0327.csv')
athens_03 = pd.read_csv('../dep_flights/depFlights_0410/athens_0410.csv')
athens_04 = pd.read_csv('../dep_flights/depFlights_0417/athens_0417.csv')
athens_05 = pd.read_csv('../dep_flights/depFlights_0423/athens_0423.csv')
athens_06 = pd.read_csv('../dep_flights/depFlights_0501/athens_0501.csv')

In [82]:
def dataset_transform(df, number):
    # Transforming the dataset to get the number of flights per month
    df_new = df.groupby(pd.to_datetime(df['depFlight_departure']).dt.month)['id'].nunique().reset_index(name='count')
    
    # Adding a new column indicating the week of the search
    new_column_name = 'week_of_search'
    new_column_values = [number] * len(df_new)
    df_final = df_new.assign(**{new_column_name: new_column_values})
    
    return df_final

In [83]:
athens_01 = dataset_transform(athens_01, 1)
athens_02 = dataset_transform(athens_02, 2)
athens_03 = dataset_transform(athens_03, 3)
athens_04 = dataset_transform(athens_04, 4)
athens_05 = dataset_transform(athens_05, 5)
athens_06 = dataset_transform(athens_06, 6)

In [84]:
athens_merged = pd.concat([athens_01, athens_02, athens_03, athens_04, athens_05, athens_06], axis=0)
athens_merged = athens_merged.rename(columns={'depFlight_departure': 'travel_month'})

In [85]:
pd.pivot_table(athens_merged, values='count', index=['week_of_search'], columns=['travel_month'])

travel_month     6   7   8   9
week_of_search
1               86  67  65  78
2               84  73  75  88
3               98  73  74  88
4               97  74  75  90
5               93  74  75  90
6               90  73  72  89

## 2. Berlin

In [86]:
berlin_01 = pd.read_csv('../dep_flights/depFlights_0320/berlin_0320.csv')
berlin_02 = pd.read_csv('../dep_flights/depFlights_0327/berlin_0327.csv')
berlin_03 = pd.read_csv('../dep_flights/depFlights_0410/berlin_0410.csv')
berlin_04 = pd.read_csv('../dep_flights/depFlights_0417/berlin_0417.csv')
berlin_05 = pd.read_csv('../dep_flights/depFlights_0423/berlin_0423.csv')
berlin_06 = pd.read_csv('../dep_flights/depFlights_0501/berlin_0501.csv')

In [87]:
berlin_01 = dataset_transform(berlin_01, 1)
berlin_02 = dataset_transform(berlin_02, 2)
berlin_03 = dataset_transform(berlin_03, 3)
berlin_04 = dataset_transform(berlin_04, 4)
berlin_05 = dataset_transform(berlin_05, 5)
berlin_06 = dataset_transform(berlin_06, 6)

In [88]:
berlin_merged = pd.concat([berlin_01, berlin_02, berlin_03, berlin_04, berlin_05, berlin_06], axis=0)
berlin_merged = berlin_merged.rename(columns={'depFlight_departure': 'travel_month'})

In [89]:
pd.pivot_table(berlin_merged, values='count', index=['week_of_search'], columns=['travel_month'])

travel_month     6   7   8   9
week_of_search
1               80  64  62  80
2               78  64  62  79
3               78  64  62  79
4               78  64  62  79
5               78  64  62  79
6               82  64  62  79

## 3. Budapest

In [91]:
budapest_01 = pd.read_csv('../dep_flights/depFlights_0320/budapest_0320.csv')
budapest_02 = pd.read_csv('../dep_flights/depFlights_0327/budapest_0327.csv')
budapest_03 = pd.read_csv('../dep_flights/depFlights_0410/budapest_0410.csv')
budapest_04 = pd.read_csv('../dep_flights/depFlights_0417/budapest_0417.csv')
budapest_05 = pd.read_csv('../dep_flights/depFlights_0423/budapest_0423csv.csv')
budapest_06 = pd.read_csv('../dep_flights/depFlights_0501/budapest_0501.csv')

In [92]:
budapest_01 = dataset_transform(budapest_01, 1)
budapest_02 = dataset_transform(budapest_02, 2)
budapest_03 = dataset_transform(budapest_03, 3)
budapest_04 = dataset_transform(budapest_04, 4)
budapest_05 = dataset_transform(budapest_05, 5)
budapest_06 = dataset_transform(budapest_06, 6)

In [93]:
budapest_merged = pd.concat([budapest_01, budapest_02, budapest_03, budapest_04, budapest_05, budapest_06], axis=0)
budapest_merged = budapest_merged.rename(columns={'depFlight_departure': 'travel_month'})

In [94]:
pd.pivot_table(budapest_merged, values='count', index=['week_of_search'], columns=['travel_month'])

travel_month     6   7   8   9
week_of_search
1               65  54  52  70
2               65  54  52  70
3               66  52  49  70
4               65  52  54  72
5               65  52  54  72
6               66  52  52  67

## 4. Lisbon

In [95]:
lisbon_01 = pd.read_csv('../dep_flights/depFlights_0320/lisbon_0320.csv')
lisbon_02 = pd.read_csv('../dep_flights/depFlights_0327/lisbon_0327.csv')
lisbon_03 = pd.read_csv('../dep_flights/depFlights_0410/lisbon_0410.csv')
lisbon_04 = pd.read_csv('../dep_flights/depFlights_0417/lisbon_0417.csv')
lisbon_05 = pd.read_csv('../dep_flights/depFlights_0423/lisbon_0423.csv')
lisbon_06 = pd.read_csv('../dep_flights/depFlights_0501/lisbon_0501.csv')

In [96]:
lisbon_01 = dataset_transform(lisbon_01, 1)
lisbon_02 = dataset_transform(lisbon_02, 2)
lisbon_03 = dataset_transform(lisbon_03, 3)
lisbon_04 = dataset_transform(lisbon_04, 4)
lisbon_05 = dataset_transform(lisbon_05, 5)
lisbon_06 = dataset_transform(lisbon_06, 6)

In [97]:
lisbon_merged = pd.concat([lisbon_01, lisbon_02, lisbon_03, lisbon_04, lisbon_05, lisbon_06], axis=0)
lisbon_merged = lisbon_merged.rename(columns={'depFlight_departure': 'travel_month'})

In [98]:
pd.pivot_table(lisbon_merged, values='count', index=['week_of_search'], columns=['travel_month'])

travel_month        6     7     8      9
week_of_search
1               106.0  87.0  88.0  109.0
2                 NaN   NaN   NaN   16.0
3                 NaN   NaN   NaN   16.0
4                 NaN   NaN   NaN   16.0
5                 NaN   NaN   NaN   16.0
6                 NaN   NaN   NaN   16.0

## 5. Madrid

In [99]:
madrid_01 = pd.read_csv('../dep_flights/depFlights_0320/madrid_0320.csv')
madrid_02 = pd.read_csv('../dep_flights/depFlights_0327/madrid_0327.csv')
madrid_03 = pd.read_csv('../dep_flights/depFlights_0410/madrid_0410.csv')
madrid_04 = pd.read_csv('../dep_flights/depFlights_0417/madrid_0417.csv')
madrid_05 = pd.read_csv('../dep_flights/depFlights_0423/madrid_0423.csv')
madrid_06 = pd.read_csv('../dep_flights/depFlights_0501/madrid_0501.csv')

In [100]:
madrid_01 = dataset_transform(madrid_01, 1)
madrid_02 = dataset_transform(madrid_02, 2)
madrid_03 = dataset_transform(madrid_03, 3)
madrid_04 = dataset_transform(madrid_04, 4)
madrid_05 = dataset_transform(madrid_05, 5)
madrid_06 = dataset_transform(madrid_06, 6)

In [101]:
madrid_merged = pd.concat([madrid_01, madrid_02, madrid_03, madrid_04, madrid_05, madrid_06], axis=0)
madrid_merged = madrid_merged.rename(columns={'depFlight_departure': 'travel_month'})

In [102]:
pd.pivot_table(madrid_merged, values='count', index=['week_of_search'], columns=['travel_month'])

travel_month        6      7      8      9
week_of_search
1               233.0  176.0  146.0  236.0
2                 NaN    NaN    NaN   50.0
3                 NaN    NaN    NaN   50.0
4                 NaN    NaN    NaN   50.0
5                 NaN    NaN    NaN   50.0
6                 NaN    NaN    NaN   49.0

## 6. Paris

In [103]:
paris_01 = pd.read_csv('../dep_flights/depFlights_0320/paris_0320.csv')
paris_02 = pd.read_csv('../dep_flights/depFlights_0327/paris_0327.csv')
paris_03 = pd.read_csv('../dep_flights/depFlights_0410/paris_0410.csv')
paris_04 = pd.read_csv('../dep_flights/depFlights_0417/paris_0417.csv')
paris_05 = pd.read_csv('../dep_flights/depFlights_0423/paris_0423.csv')
paris_06 = pd.read_csv('../dep_flights/depFlights_0501/paris_0501.csv')

In [104]:
paris_01 = dataset_transform(paris_01, 1)
paris_02 = dataset_transform(paris_02, 2)
paris_03 = dataset_transform(paris_03, 3)
paris_04 = dataset_transform(paris_04, 4)
paris_05 = dataset_transform(paris_05, 5)
paris_06 = dataset_transform(paris_06, 6)

In [105]:
paris_merged = pd.concat([paris_01, paris_02, paris_03, paris_04, paris_05, paris_06], axis=0)
paris_merged = paris_merged.rename(columns={'depFlight_departure': 'travel_month'})

In [106]:
pd.pivot_table(paris_merged, values='count', index=['week_of_search'], columns=['travel_month'])

travel_month      6   7   8    9
week_of_search
1               110  89  90  120
2               110  89  90  120
3               110  89  90  120
4               110  89  90  120
5               110  89  90  119
6               109  89  90  119

## 7. Rome

In [107]:
rome_01 = pd.read_csv('../dep_flights/depFlights_0320/rome_0320.csv')
rome_02 = pd.read_csv('../dep_flights/depFlights_0327/rome_0327.csv')
rome_03 = pd.read_csv('../dep_flights/depFlights_0410/rome_0410.csv')
rome_04 = pd.read_csv('../dep_flights/depFlights_0417/rome_0417.csv')
rome_05 = pd.read_csv('../dep_flights/depFlights_0423/rome_0423.csv')
rome_06 = pd.read_csv('../dep_flights/depFlights_0501/rome_0501.csv')

In [108]:
rome_01 = dataset_transform(rome_01, 1)
rome_02 = dataset_transform(rome_02, 2)
rome_03 = dataset_transform(rome_03, 3)
rome_04 = dataset_transform(rome_04, 4)
rome_05 = dataset_transform(rome_05, 5)
rome_06 = dataset_transform(rome_06, 6)

In [109]:
rome_merged = pd.concat([rome_01, rome_02, rome_03, rome_04, rome_05, rome_06], axis=0)
rome_merged = rome_merged.rename(columns={'depFlight_departure': 'travel_month'})

In [110]:
pd.pivot_table(rome_merged, values='count', index=['week_of_search'], columns=['travel_month'])

travel_month      6    7    8    9
week_of_search
1               140  111  114  150
2               134  111  114  148
3               146  119  122  158
4               146  115  122  160
5               148  119  122  164
6               145  116  118  155